@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Lato';
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.playing {
    background-color: lightblue;
}

.player:hover {
    background-color: lavender;
}

.playing:hover {
    background-color: darkcyan;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sound {
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    background-color: transparent;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.btn {
    border: none;
    margin: 4px 0;
    cursor: pointer;
    background-color: transparent;
    border-radius: 12px;
}

.btn:hover {
    background-color: #ddd;
}

